* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    text-decoration: none;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
            
.section {
  background-color: #fafafa;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.section .items{
  width: 100% ;
  margin: 0px auto;
  max-width: 1250px;
  height: fit-content;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit,minmax(240px ,1fr));
  gap: 2rem;
}
.section .items .item{
    width: 100%;
    height: fit-content;
    overflow: hidden;
}
.section .items .item .image{
  max-width: 240p;
  width: 100%;
}
.section .items .item .image img{
  width: 80%;
max-width: 100%;
object-fit: cover;
height: fit-content;
}
.section .items .item .card{
  width: 100%;
  padding: 1.3rem;
  background-color: #fff;
  border: 1px solid #aaaa;
  border-radius: 1.5rem;
box-shadow:0px 2px  4px #aaaa;
display: flex;
flex-direction: column;
gap: 1rem;
}
.section .card .logo-link{
  position: relative;
  padding: 0.5rem 0rem;
}
.section .card .logo-link img{
  background-color: rgb(27, 64, 76);
  margin: 5px;
  padding: 10px;
  border-radius:  10px 30px ;
  width: fit-content;
  object-fit: contain;
}
.section .card .title{
font-size: 28px;
line-height: 28px;
font-weight: 500;
color: red;
padding: 0.5rem 0rem;
}

.section .card .title .para{
font-size: 14px;
line-height: 14px;
font-weight: 400;
color: #111;
padding: 0px;
}
.section .card .title .para a{
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #0f6b96;
  padding: 0px;
}